body{
	font-family:'monaco','Ubuntu',"Microsoft Yahei";
}

img{
	width:100%;
}

.main-title{/*{{{*/
	text-align:center;
	letter-spacing:3px;
	font-size:20px;
	color:green;
}/*}}}*/

#main_category{/*{{{*/
    position: fixed;
	z-index:1;
    overflow:scroll;
    height: 100%;
    top:0px;
    left: 0px;
    width: 300px;
	.head-tag{
		display:inline-block;
	}
	a{
		text-decoration:none;
		letter-spacing:1px;
		font-size:14px;
	}
	a:link,a:visited{
		color:black;
	}
	a.active{
		color:green;
		font-weight:bold;
	}
	ul,li{
		text-decoration:none;
		list-style:none;
		line-height:1.5;
	}
	ul{
		padding-left:20px;
	}
	h2{
		margin-top:10px;
		text-align:left;
		margin-bottom:10px;
		font-size:1.1em;
	}
}/*}}}*/

#article{/*{{{*/
    position: absolute;
    top: 0px;
    padding:20px;
	box-sizing:border-box;
	padding-left:320px;
	width:100%;
	h1{
		font-size:22px;
		color:black;
		font-weight:200px;
		border-bottom:1px solid grey;
		padding-bottom:10px;
		font-weight:normal;
	}
	h2{
		font-size:18px;
		font-weight:bold;
		color:black;
		margin:20px 0px 5px 0px;
		font-weight:normal;
	}
	h3{
		font-size:16px;
	}
	h3,h4,h5{
		font-weight:normal;
	}
	p{
		line-height:1.5;
		margin:0px;
		font-size:13px;
		letter-spacing:1px;
		code{
			background-color:#C7FFEC;
			margin:0px 2px;
			padding:0px 2px;
			border-radius:3px;
		}
	}
	pre{
		code{
			font-family: Monaco,ubuntu,Consolas,"Microsoft Yahei","Courier New",monospace;
			background-color:#f8f8f8;
			padding:8px;
			border-radius:3px;
			letter-spacing: 1px;
			word-spacing:2px;
			font-size:12px;
		}
	}
	img{
		width:50%;
	}
}/*}}}*/
