body {
  font-family: "Microsoft Yahei",Monaco;
  background-color: #fff;
}

img {
  width: 100%;
}

.main-title {
  margin: 0px 0px;
  padding: 14px 30px;
  font-family: Monaco;
  text-align: left;
  background-color: #636b6f;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
}
.main-title h1 {
  width: 240px;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
.main-title .search-article {
  color: black;
  width: 240px;
}
.main-title .search-article form {
  margin-top: 10px;
  text-align: left;
}
.main-title .search-article form input[type="text"] {
  padding: 2px 0px;
  padding-left: 5px;
  border: 0px;
  width: 180px;
}
.main-title .search-article form input[type="submit"] {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 0px;
}

#main_category {
  background-color: #efefef;
  position: fixed;
  z-index: 1;
  overflow: auto;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 300px;
  padding-top: 90px;
}
#main_category .head-tag {
  display: inline-block;
}
#main_category a {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
}
#main_category a.active {
  color: #e83e8c;
  font-weight: bold;
}
#main_category ul, #main_category li {
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
}
#main_category ul {
  padding-left: 20px;
}
#main_category h2 {
  margin-top: 10px;
  cursor: pointer;
  text-align: left;
  font-size: 18px;
}
#main_category h2 .caret {
  margin-left: 10px;
}

#article {
  background-color: #f5f5d5;
  position: absolute;
  top: 0px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
  margin-left: 320px;
  width: 1100px;
  letter-spacing: 1px;
  min-height: 1000px;
  font-family: Tahoma,Helvetica,Arial,Georgia, serif;
}
#article code {
  font-size: 100%;
}
#article pre code {
  padding: 10px;
  border-radius: 5px;
  border: 8px solid black;
  font-family: monospace, Consolas, Monaco, 'Andale Mono';
  letter-spacing: 0px;
  border-color: rgba(255, 255, 255, 0.9);
}
#article h1 {
  font-size: 24px;
  color: black;
  font-weight: 200px;
  padding-bottom: 10px;
  font-weight: normal;
  text-align: center;
}
#article h1 a {
  color: green;
  letter-spacing: 2px;
  text-decoration: none;
}
#article h2 {
  font-weight: normal;
  font-family: Georgia, serif;
  font-size: 20px;
  color: black;
  margin: 20px 0px 5px 0px;
}
#article h3 {
  font-size: 18px;
}
#article h3, #article h4, #article h5 {
  font-weight: normal;
}
#article h4 {
  font-size: 16px;
}
#article li {
  margin-top: 7px;
  margin-bottom: 3px;
}
#article p {
  font-family: Georgia, serif;
  line-height: 1.5;
  text-align: justify;
  margin: 0px;
  font-size: 16px;
  letter-spacing: 2px;
}
#article p strong {
  font-size: 105%;
}
#article p code {
  font-family: Ubuntu,Monaco,consoles;
}
#article img {
  width: 50%;
}
#article span.search_key {
  color: red;
}
#article table {
  margin-bottom: 10px;
}
#article table thead {
  background-color: #ddd;
}
#article table th {
  font-size: 16px;
}
#article table th, #article table td {
  padding: 5px 10px;
  border: 1px solid #eee;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*# sourceMappingURL=common.css.map */
